<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= .czx,, initial-scale=1.0" />
    <title>Jarvis</title>
</head>

<body>
    <h1>1:37 PM</h1>
    <center>
        <h1>JARVIS</h1>
        <h7>i am here</h1>

    </center>
</body>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-weight: 100;
        min-width: 100vh;
        background: #01263d;
        overflow: hidden;
        font-family: "Space Mono", monospace;
        color: white;
    }
</style>

</html>