<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jarvis Website</title>
        <link rel="stylesheet" href="{{ url_for('static',
            filename='styles/style.css')}}">

    </head>

    <body>

        <div class="warning-container">


            <div class="warning-box" id="wake">
                <h2>Jarvis</h2>
                <p></p>
            </div>
        </div>








    </body>


    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{{ url_for('static',
        filename='JS/speechRecognition.js')}}">
</script>

    <script src="{{ url_for('static',
        filename='JS/app.js')}}">
</script>



</html>